{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{# TODO: for localizing, see http://donna-oberes.blogspot.de/2014/01/symfony-internalizationlocalization-and.html #}
{% extends 'AppBundle:Default:base.html.twig' %}

{% block body %}
    <h1>Page not found</h1>

    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('home') }}">return to the homepage</a>.
    </p>
{% endblock %}