{% extends app.request.attributes.get('_route') == 'date-chronology-partial'
    ? 'AppBundle:Default:partial.html.twig'
    : 'AppBundle:Default:base.html.twig'
%}
{% import 'AppBundle:Shared:helper.html.twig' as helper %}

{% block body %}
    {% if app.request.attributes.get('_route') != 'date-chronology-partial' %}
    <h1>{{ 'Chronology'|trans }}</h1>
    {% endif %}
    <div class="row">
        <div class="col-sm-12">
        {# styles: see http://stackoverflow.com/questions/19089384/twitter-bootstrap-3-two-columns-full-height #}
            <div id="timeline" class="container-fluid">
        {% if articles is not empty %}
        {% set last_epoch = '' %}
        {% for source in articles %}
            {% set epochLabel = source.epochLabel %}
            {% if epochLabel[0] != last_epoch %}
                {% if last_epoch != '' %}
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-sm-2 hidden-xs epoch-label">
                        <h4>{{ epochLabel[0]|epoch(epochLabel[1]) }}</h4>
                    </div>
                    <div class="col-xs-12 col-sm-10 epoch-content">
                {% set last_epoch = epochLabel[0] %}
            {% endif %}
            {{ helper.source_box(source) }}
        {% endfor %}
                    </div>
                </div><!-- .row -->
        {% else %}
            Es wurden keine Quellen gefunden
        {% endif %}
            </div><!-- #timeline -->
        </div><!-- .col-sm-12 -->
    </div><!-- .row -->
{% endblock %}
