{% extends 'AppBundle:Default:base.html.twig' %}

{% import 'AppBundle:Shared:helper.html.twig' as helper %}

{% block body %}
    <h1>{{ 'Chronology'|trans }}</h1>
    <div class="row">
        <div class="col-sm-12">
        {% if articles is not empty %}
        {% set last_epoch = '' %}
        {% for source in articles %}
            {% set epochLabel = source.epochLabel %}
            {% if epochLabel[0] != last_epoch %}
                {% if last_epoch != '' %}
            </ul>
                {% endif %}
            <h2>{{ epochLabel[0]|epoch(epochLabel[1]) }} </h2>
            {% set last_epoch = epochLabel[0] %}
            <ul class="list-unstyled">
            {% endif %}
            <li>
                {{ helper.article_linked(source) }}
            </li>
        {% endfor %}
        </ul>
        {% else %}
            Es wurden keine Quellen gefunden
        {% endif %}
        </div>
    </div><!-- .row -->
{% endblock %}
