$color-color-dark: #070E44;
$color-color-medium: #99A0B4;

$color-color-topic: #970376;
$color-color-map: #f29000;
$color-color-chronology: #3da2da;
$color-color-lookup: #9B9B9B;

$color-gray-dark: #8E8E8E;
$color-gray-medium: #C0C0C0;
$color-gray-light: #E0DFE0;
$color-gray-ultralight: #E9E9E9;

$color-text: #333;
