/*
 * instead of the remote version
 *  @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i&subset=latin-ext');
 * we use the hinted version from
 *  https://github.com/google/roboto/tree/master/src/hinted
 */

@import 'font/RobotoCondensed';
$font-stack-sans: 'Roboto Condensed', Arial, sans-serif;
$font-stack-serif: 'Droid Serif', serif;

$color-color-dark: #070E44;
$color-color-medium: #99A0B4;

$color-color-topic: #970376;
$color-color-map: #f29000;
$color-color-chronology: #3da2da;
$color-color-lookup: #9B9B9B;

/* $color-gray-dark: #9B9B9B; */
$color-gray-dark: #8E8E8E;
$color-gray-medium: #C0C0C0;
$color-gray-light: #E0DFE0;
$color-gray-ultralight: #E9E9E9;

$color-text: #333;

/* see https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss */
$screen-sm-size: 768px;

body {
    font-family: $font-stack-sans;
}

/* sticky footer, see https://gist.github.com/seyDoggy/e919a429b2459aedf509 */
html,body {
    height: 100%;
    width: 100%;
}

body {
    display: table;
}

.container.wrapper {
    height: auto;
    margin-bottom: 20px;
}

footer {
    display: table-row;
    height: 1px;
}

header {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    h1 {
        margin-top: 29px;
        margin-bottom: 11px;
        font-size: 18px;
        font-weight: bold;
    }
    color: white;
    background-color: $color-color-dark;
    a, a:visited {
        color: white;
        &:hover, &:active {
            color: $color-gray-light;
            text-decoration: none;
        }
    }

    #menu-top, #menu-lang {
        font-size: 12px;
    }

    #menu-top {
        color: $color-color-medium;
        a {
            color: $color-color-medium;
        }
        float: left;
        padding-right: 2rem;
    }

    #menu-lang {
        color: $color-color-medium;
        a {
            color: $color-color-medium;
        }
        li.current a {
            color: white;
        }
        float: left;
        text-transform: uppercase;
        border-left: 1px solid $color-color-medium;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    /* css drop-down, see also https://gist.github.com/nateevans/9958390 */
    #menu-top, #menu-main {
        li {
            position: relative;
        }
        li .menu_level_1 {
            min-width: 100%;
            display: none;
            position: absolute;
            z-index: 999;
            left: 0;
            list-style: none;
            padding-left: 5px;
            padding-right: 5px;
        }
        li:hover .menu_level_1 {
            display: block;
            a {
                padding-right: 5px;
            }
        }
    }

    #menu-top {
        li:hover .menu_level_1 {
            background-color: $color-color-medium;
            white-space: nowrap;
            a {
                color: $color-color-dark;
            }
            a:hover {
                color: white;
            }
        }
    }

    #menu-main {
        margin-left: 0;
        margin-bottom: -5px;

        & > li {
            margin-right: 2px;
            border-bottom: 6px solid transparent;
            padding: 0;
            padding-bottom: 5px;
            a {
                padding: 5px;
                padding-right: 36px;
            }
        }

        li:hover .menu_level_1 {
            margin-left: 0px;
            background-color: $color-color-lookup;
        }

        #menu-item-topic {
            a {
                background: url("../img/icon/menu-topic.svg") no-repeat;
                background-position: right 6px center;
                display: inline-block;
                background-color: $color-color-topic;
            }
            &:hover /*, &.current */ {
                z-index: 999 !important;
                border-bottom: 6px solid $color-color-topic;
            }
        }

        #menu-item-map {
            a {
                background: url("../img/icon/menu-map.svg") no-repeat;
                background-position: right 6px center;
                padding-right: 33px;

                display: inline-block;
                background-color: $color-color-map;
            }
            &:hover, &.current {
                z-index: 999 !important;
                border-bottom: 6px solid $color-color-map;
            }
        }

        #menu-item-chronology {
            a {
                background: url("../img/icon/menu-chronology.svg") no-repeat;
                background-position: right 6px center;
                display: inline-block;
                background-color: $color-color-chronology;
            }
            &:hover, &.current {
                z-index: 999 !important;
                border-bottom: 6px solid $color-color-chronology;
            }
        }

        #menu-item-lookup {
            > a {
                background: url("../img/icon/menu-lookup.svg") no-repeat;
                background-position: right 6px center;
            }

            a {
                display: inline-block;
                background-color: $color-color-lookup;
            }

            &:hover {
                border-bottom: 6px solid $color-color-lookup;
            }
        }
    }

    #header-search-wrapper {
        input[type='text'] {
            width: 10em;
            background-color: $color-color-medium;
            border: none;
            padding: 5px;
            padding-right: 26px;

            &::-webkit-input-placeholder {
                color: #CBD3DC !important;
            }
        }
    }
}

#top {
    margin-bottom: 20px;
}

.carousel-indicators {
    top: 70px;
}

.carousel-inner  {
    /* z-index: -5; // this is now solved by setting z-index on menu-hover */
    .carousel-caption {
        top: 0px;
        h4 {
            background-color: $color-gray-dark;
            opacity:0.9;
            padding-top: 0.3em;
            padding-bottom: 0.3em;
            a {
                color: white;
            }
        }
    }
}

#image-viewer {
    .tooltip {
        font-size: 1.2rem;
    }
}

#media-viewer {
    #license {
        display: none;
    }
}

#breadcrumb {
    background-color: $color-gray-light;
    margin-bottom: 20px;
    .list-inline {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    color: $color-color-dark;
    /*
    a:link, a:visited {
        color: $color-color-medium;
    }
    */
}

@mixin article-text {
    font-size: 16px;
    line-height: 1.6;
    color: $color-text;

     /* font-family: $font-stack-serif; */
}

@mixin dta-styles {
        /* .head  { text-align:center; font-size:1.2em; margin-top:1em }
        .dta-head  { text-align:center; font-size:1.2em; margin-bottom:.5em } */

        .fw-top          { text-align:center; margin-bottom:2em; color:#666 }
        .fw-pageNum      { display:none }
        .fw-bottom-sig   { margin-top:1em; font-size:.8em; color:#666 }
        .fw-bottom-catch { text-align:right; margin-top:1em; margin-right:1em; font-size:.8em; color:#666 }

        /* quote mess */
        blockquote:before, blockquote:after, q:before, q:after {
          /* see http://www.paulchaplin.com/blog/css-reset-and-quirky-quotes */
          content:""; content:none;
        }

        /* place holders */
        .ph, .phbl { color:#666 }
        .phbl      { display:block; text-align:center }

        .titlepage   { text-align:center }
        .byline      { font-size:.9em; margin:1em 0 }
        .dta-anzeige { color:#aaa }
        .dedication  { padding-left:2em }

        .footnote       { color:#333; font-size:.8em; margin-top:.5em; margin-left:1em }
        .endnote        { color:#333; font-size:.8em; margin-top:.5em; margin-bottom:.5em }
        .endnote-indent { text-indent:1em }
        .fn-intext { vertical-align:super; font-size:.8em }
        .fn-sign { vertical-align:super; font-size:.8em }

        .dta-marginal {
            display: block;
            color: #666;
        }
        /* mpdf doesn't like combined classes, so put into separate rule */
        .dta-marginal-left {
            margin-left: -10px;
        }

        .dta-argument { text-align:center; font-size:.9em }

        .dta-cb { font-size:.8em; color:#666; text-align:center; display:block; margin:5px }

        .poem       { padding-left:2em; margin-bottom:1em }
        .dta-salute { margin-top:1em; display:inline }
        .speaker    { font-weight:bold }
        .stage      { font-style:italic; font-size:.9em }
        .stage .c   { font-style:italic; font-size:.9em }
        div.stage   { margin-bottom:.5em }

        div.dta-figure { /* font-size:.9em; */ margin-top:1rem; margin-bottom:0.8rem }
        div.dta-figure p { margin-left:1em; display: block; }
        .dta-figure img { margin-bottom:0.2rem }

        .titlepart           { font-size:1em }
        .titlepart-main      { margin-bottom:1em; font-size:1.6em }
        .titlepart-volume    { font-size:1em }
        .titlepart-edition   { font-size:1em }
        .titlepart-copyright { font-size:1em }
        .titlepart-desc      { font-size:1em }
        .titlepart-sub       { font-size:1.3em; margin-bottom:.5em }

        .docauthor { font-size:1em; margin-bottom:.5em }

        .gap       { color:#666 }

        /* dbu - remove
        .dta-foreign { color:#666 }
        .dta-foreign:before { content:"[" }
        .dta-foreign:after { content:"]" }
        */

        .dta-corr { border-bottom:dotted 2px #97002d }
        .dta-reg  { border-bottom:dotted 2px #2d9700 }
        .dta-abbr { border-bottom:dotted 2px #002D97 }
        .dta-supplied { color:#2D9700 }

        /* dramae */
        .dta-sp    { margin-bottom:1em }
        .dta-in-sp { display:inline }
        .dta-actor { float:right }

        /* lb @n */
        .dta-lb-n { float:right }

        /* renditions inline */
        .aq, span.dta-aq       { font-family:sans-serif }
        .b, span.dta-b { font-weight:bold }
        .blue, span.dta-blue     { color:blue }
        .fr, span.dta-fr       { border:1px dotted silver }
        .g, span.dta-g        { letter-spacing:0.125em }
        .g:before, span.dta-g:before { content:''; margin-left:0.125em }
        .g:after, span.dta-g:after  { content:''; margin-right:0em }
        .i, span.dta-i { font-style:italic }
        /*.in       { font-size:150% } */
        .k, span.dta-k        { font-variant:small-caps }
        .larger, span.dta-larger   { font-size:larger }
        .red, span.dta-red      { color:red }
        .s, span.dta-s        { text-decoration: line-through }
        .smaller, span.dta-smaller  { font-size:smaller }
        .sub, span.dta-sub      { vertical-align:sub; font-size:.7rem }
        .sup, span.dta-sup      { vertical-align:super; font-size:.7rem }
        .u, span.dta-u        { text-decoration:underline }
        .uu, span.dta-uu       { border-bottom:double 3px #000 }

        /* renditions block */
        /* Note: mpdf ignores display:block, so xsl must be adjusted to generate div instead of span */
        .dta-c, .c     { display:block; text-align:center }
        .et    { display:block; margin-left:2em; text-indent:0 }
        .et2   { display:block; margin-left:4em; text-indent:0 }
        .et3   { display:block; margin-left:6em; text-indent:0 }
        .dta-in-sp .et { display:inline; text-indent:2em }
        .right, .dta-right { display:block; text-align:right }
        .cw    { text-align:right }

        /* cast lists */
        table.dta-castgroup { border-collapse:collapse; border-spacing:0; margin:0; width:100% }
        td.castitem         { border-right:1px solid #333; padding-right:10px; padding-left:0; padding-bottom:5px }
        .castitem           { margin-bottom:5px }
        td.roledesc         { vertical-align:middle; padding-left:5px }

        /* tables */
        .dta-table      { margin-top:0; /* margin-left:auto; margin-right:auto; */ background:#fff; border-collapse:collapse }
        .dta-table td   { vertical-align:top; border:1px solid #ccc; padding:3px }
        caption h1,
        caption h2,
        caption h3,
        caption h4,
        caption h5,
        caption h6 { font-size:1em; white-space:nowrap; padding-bottom:5px }

        /* lists */
        /* ul.dta    { list-style-type:none; padding-left:2em }
        ul.dta li { margin-bottom:3px }

        .dta-bibl { font-size:.9em } */

        .dta-columntext { white-space:normal }
        .dta-columntext td { padding-left:10px; padding-right:2em }

        table.list          { border-collapse:collapse; border-spacing:0; margin:0 }
        td.item-right       { border-left:1px solid #333; padding-right:10px; padding-left:0; padding-bottom:5px; padding-left:2em }
        td.item-left        { border-right:1px solid #333; padding-right:10px; padding-left:0; padding-bottom:5px; padding-left:2em }
        td.dta-list-trailer { vertical-align:middle; padding-left:5px; text-indent:0 !important }
        td.dta-list-head    { vertical-align:middle; padding-right:2em }
        .dta-list           { padding-left:2em; margin-bottom:1em }
        .dta-list-item      { text-indent:-1em; margin-bottom:.5em }
        .dta-list-item-noindent { text-indent:0em; margin-bottom:.5em !important }
        .dta-list-item table { text-indent:0em }
        .dta-lg             { margin-bottom:1em }

        /* all things brace ... */
        .braced-base       { display:inline-block; vertical-align:middle; padding:0 5px 0 5px }
        p .braced-base     { text-indent:0 !important }
        .braced-left-right { border-left:1px solid #333; border-right:1px solid #333; margin-left:1em }
        .braced-left       { border-left:1px solid #333; margin-left:1em }
        .braced-right      { border-right:1px solid #333 }
        .braced-base .dta-list-item { text-indent:0; margin-bottom:0 }

        .dta-pb { color:#666; font-size:.9em }

        /* .dta-p { text-indent:1em; margin:0px 0 }
        p {
          -webkit-margin-before: 0em;
          -webkit-margin-after: 0em;
          -webkit-margin-start: 0px;
          -webkit-margin-end: 0px;
        }
        */

        .dta-figure {
            p.dta-p {
                font-size: 14px;
            }
            img.image-responsive {
                max-width: 100%;
                height: auto;
            }
        }
}

.wp-content {
    margin-bottom: 4em;
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 16px;
    }
}

.source-description, .source-link {
    @include article-text;
    @include dta-styles;
    margin-bottom: 1em;
    .editorial.foot {
        display: none;
    }
}

a.img-info-sign {
    display: inline-block;
    width: 0.9em;
    background-image: url('../img/icon/info-sign.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    &:hover {
        text-decoration: none;
    }
}

/* break long links in metadata sidebar */
a.break-word, .sidebar dd a {
    word-wrap: break-word;
}

.pdf-link {
    margin-top: 0;
    line-height: 28px;
    margin-bottom: 15px;
    padding-left: 28px;
    background: url("../img/icon/pdf.png") 0px 0px no-repeat;
    background-size: auto 100%;
}

.sourcetype-icon {
    /* padding-left: 46px; */
    background-repeat: no-repeat;
    background-position: right 10px top 8px;
    background-size: auto 60%;

    &.sourcetype-text {
        background-image: url("../img/icon/text.png");
    }

    &.sourcetype-bild {
        background-image: url("../img/icon/image.png");
    }

    &.sourcetype-audio {
        background-image: url("../img/icon/audio.png");
    }

    &.sourcetype-video {
        background-image: url("../img/icon/video.png");
    }
}

.article {
    &> div {
        margin-top: 2em;
        &:first-child {
            margin-top: 0;
        }
    }

    @include dta-styles;

    .dta-p, span.dta-opener, div.dta-closer,
    div.dta-bibl {
        @include article-text;
    }

    h3.dta-head {
        /* we want Selected Bibliography */
        text-transform: capitalize;
    }

    .editorial.foot {
        display: none;
    }
}

.mycoreViewer .tei {
    @include dta-styles;
    .editorial.foot {
        display: none;
    }
}

@mixin hyphenate {
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}

.hyphenate {
    @include hyphenate;
}

.justify-hyphens {
    text-align: justify;
    @include hyphenate;
}

.author {
    color: $color-gray-dark;
    margin-bottom: 2em;
}

a, a:visited {
    color: $color-gray-dark;
}

a.externalDisabled  {
    text-decoration: none;
    color: $color-text;
}

.hoverable {
    color: $color-text;
    position: relative;

    /* see https://eager.io/blog/smarter-link-underlines/ */
    background: linear-gradient(#fff, #fff) no-repeat scroll 0 90% / 0.05em 1px,
        linear-gradient(#fff, #fff) no-repeat scroll 100% 90% / 0.05em 1px,
        rgba(0, 0, 0, 0) linear-gradient($color-gray-medium, $color-gray-medium)
            repeat-x scroll 0 92% / 1px 1px;

    &.glossary {
        background: linear-gradient(#fff, #fff) no-repeat scroll 0 90% / 0.05em 1px,
            linear-gradient(#fff, #fff) no-repeat scroll 100% 90% / 0.05em 1px,
            rgba(0, 0, 0, 0) linear-gradient($color-gray-ultralight, $color-gray-ultralight)
                repeat-x scroll 0 92% / 1px 1px;
    }

    &.dta-bibl {
        background: none;
    }

    &:hover {
        color: $color-gray-dark;

        cursor: pointer;
    }
}

a.external .hoverable {
    background: none;
    color: inherit;
}

.h1, h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
    /* color: $color-gray-dark; */
    /* padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid $color-gray-medium;
    font-weight: bold; */

    &:first-child {
        margin-top: 0;
    }
}

h2 + br, h3 + br, p + br {
    display: none;
}

h3#citation {
    /*
    color: $color-gray-dark;
    font-weight: bold;
    */
}

.panel.source-box {
    max-width: 640px;

    .panel-heading {
        color: white;
        a {
            color: $color-gray-light;
        }
        background-color: $color-color-dark;
    }

    /*
    &:last-of-type {
        margin-bottom: 0;
    }
    */
}

.sidebar {
    .box {
        &.top-buffer { margin-top: 20px; }

        .seealso-ul, .beacon-ul {
            ul {
                padding-left: 10px;
                list-style-type: square;
            }
        }

        .row {
            border-left: 2px solid $color-gray-medium;
            border-right: 2px solid $color-gray-medium;
            &:last-of-type {
                border-bottom: 2px solid $color-gray-medium;
            }
            &.border-top {
                border-top: 2px solid $color-gray-medium;
            }
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 90%;

            &.box-color-title {
                border: none;
                background-color: $color-color-dark;

                h4 {
                    margin: 0;
                    color: white;
                    text-transform: uppercase;

                    a {
                        color: $color-gray-light;
                    }
                }
            }

            &.box-color-content-inverse {
                border-color: $color-color-medium;
                background-color: $color-color-medium;
                a, a:visited {
                    color: white;
                }
            }

            a, a:visited {
                color: $color-gray-dark;
            }

            &.menu {
                ul {
                    padding-left: 0;
                    list-style-type: none;
                    li.current {
                        a, a:visited {
                            color: $color-color-dark;
                        }
                    }
                }
            }
        }
    }

    .facet {
        li.active a {
            font-weight: bold;
            &::before {
                content: "(x)";
            }
        }
    }
}

footer {
    background-color: $color-gray-dark;
    a, a:visited {
        color: white;
        &:hover {
            color: $color-color-dark;
        }
    }
    margin-top: 1rem;
    margin-bottom: 2rem;

    #footer-social {
        background-color: $color-gray-light;
        padding-top: 12px;
        line-height: 32px;

        a.twitter {
            background: url("../img/icon/twitter.png") no-repeat;
            background-size: cover;
            height: 32px;
            width: 32px;
            display: inline-block;
        }
    }

    #footer-navigation {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    ul {
        list-style-type: none;
        padding-left: 0;

        &#menu-main-footer {
            text-transform: uppercase;
        }
    }

    ul ul {
        padding-left: 20px;
    }
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border-color:  $color-gray-dark;
    background-color: white;
    &:focus {outline:none;}
}

/* size-specific styles */
@media (min-width: $screen-sm-size) {
    #footer-dfg, #header-search-wrapper {
        text-align: right;
    }

    div.two-columns {
        column-fill: balance;
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count:    2; /* Firefox */
        column-count:         2;
        -webkit-column-gap:   20px; /* Chrome, Safari, Opera */
        -moz-column-gap:      20px; /* Firefox */
        column-gap:           20px;

        /* for filling evenly on Chrome */
        p {
            display: inline-block;
        }
    }

    /* .epoch-label is hidden on xs-screens */
    .epoch-label {
        display: table-cell;
        height: 100%;
        float: none;
        margin-bottom: 1em;
        position: relative;
    }

    .epoch-content {
        display: table-cell;
        float: none;
    }
}

@media (max-width: $screen-sm-size) {
    /* language selector on small screens */
    #menu-lang {
        position: absolute;
        top: 20px;
        right: 0;
        border-left: none !important;
    }
    #site-name {
        padding-top: 15px;
    }
}

/* route-specific styles */
.route-topic-index {
    .topic {
        margin-bottom: 20px;
    }

    h4 {
        /* border-top: 1px solid $color-gray-dark; */
        padding-top: 5px;
        color: $color-gray-dark;
        min-height: 46px;
        /* text-transform: uppercase; */
        position: relative;

        .topic-label {
            position: absolute;
            bottom: 0;
        }
    }
}

.route-home, .route-home-preview {
    #col-main {
        .box-header {
            margin-top: 2em;
        }

        .box-content {
            border-left: 1px solid $color-gray-medium;
            border-right: 1px solid $color-gray-medium;
            border-bottom: 1px solid $color-gray-medium;
        }

        h4 a {
            color: #fff;
        }
    }

    .topic {
        margin-bottom: 10px;

        h4, h5 {
            /* border-top: 1px solid $color-gray-dark; */
            padding-top: 5px;
            color: $color-gray-dark;
            /* text-transform: uppercase; */
            position: relative;

            .topic-label {
                position: absolute;
                bottom: 0;
            }
        }

        h4 {
            font-size: 16px;
            min-height: 36px;
        }
        h5 {
            font-size: 14px;
            min-height: 32px;
        }
    }
}

.route-education-index {
    .panel-group .panel {
        /* override bootstrap default */
        border-radius: 0px;
    }

    .panel-default > .panel-heading {
        background-color: $color-color-dark;
    }

    .panel-title > a {
        color: white !important;
    }

    .panel-default {
        border: none;
    }

    .panel-collapse {
        border-left: 1px solid $color-gray-medium;
        border-right: 1px solid $color-gray-medium;
        border-bottom: 1px solid $color-gray-medium;
    }
}

.route-date-chronology, .route-date-chronology-partial,
.route-event-index
{
    #timeline {
        display: table;

        & > .row {
            display: table-row;
        }
    }

    .epoch-label {
        position: relative;
        h4 {
            text-align: center;
            min-width: 140px;
            padding: 5px;
            color: white;
            background-color: $color-color-chronology;
        }
    }

    .epoch-label.epoch-label-gray {
        h4 {
            font-size: 14px;
            text-align: center;
            min-width: 140px;
            padding: 5px;
            color: white;
            background-color: $color-gray-medium;
        }
    }

    .epoch-label:after {
        content:"";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 50%;
        border-left: 2px dotted $color-gray-medium;
    }

    .panel-body {
        h5 {
            line-height: 1.4;
            margin-top: 0;
            margin-bottom: 14px;
        }
    }
}

.route-date-chronology, .route-date-chronology-partial
{
    .sidebar .box .row.box-color-title {
        background-color: $color-color-chronology;
        h4 {
            text-transform: none;
        }
    }
}

body.route-place-map-mentioned #switch-place-map-mentioned,
body.route-place-map #switch-place-map,
body.route-article-index #switch-article-index,
body.route-article-index-date #switch-article-index-date
{
    /* active switch */
    font-weight: bold;
}

body.route-topic-background {
    .article {
        .dta-figure {
            img {
                max-height: 400px;
            }
        }
    }
}

body.route-about-implementation {
        .dta-figure {
            img {
                max-width: 100%;
            }
        }
}

.list-inline.switch {
    li {
        padding-right: 0;
    }
    li + li {
        padding-left: 0;
    }
    li + li::before {
        content: "\00a0\00a0|\00a0\00a0";
    }
}

.route-bibliography {
    .csl-bib-body > div {
        text-indent: 0 !important;
        padding-left: 0 !important;
    }

    .csl-entry {
        .citeproc-creator, .citeproc-title {
            font-size: 140%;
        }
        & > .citeproc-title:after
        {
            content:"\000A";
            white-space: pre;
        }
    }
}

/* hyphenate */
body.route-topic-background, body.route-article,
body[class^="route-about"], body.route-exhibition
{
    .dta-p, .source-description {
        text-align: justify;
        @include hyphenate;
    }
}

/* don't show tei-license on about-pages */
body[class^="route-about"] {
    #license {
        display: none;
    }

    .article > div.dta-list {
        margin-top: 0;
    }

    .dta-list-item {
        display: inline-block;
        &:before { content: "-"; padding-right:7px; }
    }
}

body[class="route-terms"] {
    #license {
        margin-top: 1em;
    }
}

a.rss {
    padding-left: 24px;
    background: url("../img/icon/icon-rss.png") no-repeat;
    background-position: 0px 0;
    height: 32px;
    display: inline-block;
}

ul.typeahead.dropdown-menu {
    margin-left: -100px;
    margin-top: 5px;
    border-radius: 0px;
    background-color: $color-color-medium;
    li.active a {
        background-color: $color-color-dark;
    }
    li a {
        width: 239px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.display-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";
    float: right;
    color: grey;
}
.display-toggle.display-toggle-hide:after {
    content: "\e113";
}

/* bootstrap panels */
.panel {
    border-radius: 0px;
    .panel-heading {
        border-radius: 0px;
    }
}

/* bootstrap tooltips */
.tooltip.top {
    .tooltip-inner {
        border: 1px solid $color-gray-dark;
        /*
        padding: 10px;
        max-width: 450px;
        */
        color: black;
        text-align: left;
        background-color: white;
        background: white;
        border-radius: 0;
    }
    .tooltip-arrow {
        border-top-color: black;
    }
}

.tooltip.in {
    opacity: 1;
    filter: alpha(opacity=100);
}

/* leaflet map */
.leaflet-container {
    font-family: $font-stack-sans !important;
    font-size: 13px !important;
}
