{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{# guide for localizing as described in
   http://donna-oberes.blogspot.de/2014/01/symfony-internalizationlocalization-and.html
#}
{% extends '@TeiEdition/Default/base.html.twig' %}

{% block body %}
    <h1>{{ 'Page not found'|trans }}</h1>

    <p>
        {{ 'error.404.description'|trans({'url': path('home') })|raw }}
    </p>
{% endblock %}