{% extends '@TeiEdition/Default/base.html.twig' %}

{% block body %}
    <div class="row">
    {% for slug,topicDescr in topics %}
        <div class="col-sm-4 col-xs-6 topic">
            {% if topicDescr.article is not empty %}
            <a href="{{ path('topic-background', { 'slug' : topicDescr.article }) }}">
            {% endif %}
                <h4>
                    <div class="topic-label">{{ topicDescr.label }}</div>
                </h4>
                <img src="{{ asset('img/topic/' ~ slug ~ '.jpg') }}" style="width: 100%; height: auto" />
            {% if topicDescr.article is not empty %}
            </a>
            {% endif %}
        </div>
    {% endfor %}
    </div><!-- .row -->
{% endblock %}
