php_flag magic_quotes_gpc Off
php_value memory_limit 64M

<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On
    RewriteBase /juedische-geschichte/presentation

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ app_dev.php [QSA,L]
</IfModule>